@{
    ViewBag.Title = "Recruitment Form";
}

<h2>@ViewBag.Title</h2>

<br />
<blockquote class="blockquote text-center">
    <p class="mb-0 display-3">
        thank you for applying        
    </p>
    <footer class="blockquote-footer display-4">please check your e-mail</footer>
</blockquote>
<br />